summary {
  cursor: pointer;
}

a {
  text-decoration: underline;
}

/* 3 css y ya no me acuerdo bien para que es esto */
.c-list a {
  text-decoration: inherit;
}

 /* Flags */

.wishFlag-container i {
  top: -11px;
  right: -11px;
  position: absolute;
    
}

/** USer for

- Confetti 
 */

 .noClick {
  pointer-events: none;
}