summary {
  cursor: pointer;
}

a {
  text-decoration: underline;
}

.c-list a {
  text-decoration: inherit;
}

 /* Flags */

.wishFlag-container i {
  top: -11px;
  right: -11px;
  position: absolute;
    
}