node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal
/prisma/data.db.bak-*

dev.log

/app/styles/tailwind.css


.DS_Store
.vscode/settings.json

data/